.mycontainer_fixedcolumns{
    display: grid;
    grid-template-columns: 100px 100px 240px;
    background-color: cadetblue;
    border: 1px dashed black;
}
.mycontainer_fractional{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    background-color: cadetblue;
    border: 1px dashed black;
}
.mycontainer_quick{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: cadetblue;
    border: 1px dashed black;
    column-gap: 5px;
}
.mycontainer_rows{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    background-color: cadetblue;
    border: 1px dashed black;
    row-gap: 5px;
}
.mycontainer_grid{
    display: grid;
    grid-template: 100px 100px 50px / 1fr 2fr 1fr;
    background-color: cadetblue;
    border: 1px dashed black;
    gap: 4px 10px
}
.mygriditem{
    background-color: darkgray;
    color: black;
    text-align: center;
}
.mycontainer-namedarea{
    display: grid;
    grid-template-areas:
        "item-1 item-1 item-1"
        "item-2 item-3 item-4"
        "item-2 item-5 item-5"
        "item-6 item-6 item-6";
    background-color: cadetblue;
    border: 1px dashed black;
    gap: 4px 10px
}
.mygriditem-nav{
    background-color: darkgray;
    color: black;
    text-align: center;
}
.mygriditem-banner{
    display: flex;
    justify-content: flex-end;
    background-color: darkgray;
    color: black;
    text-align: center;
}
.mygriditem-nav{
    background-color: darkgray;
    color: black;
    text-align: center;
}
.mygriditem-supp{
    background-color: darkgray;
    color: black;
    text-align: center;
}
.mygriditem-button{
    display: flex;
    justify-content: flex-end;
    background-color: darkgray;
    color: black;
    text-align: center;
}
.item-1{
    grid-area: item-1;
}
.item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}
.item-4{
    grid-area: item-4;
}
.item-5{
    grid-area: item-5;
}
.item-6{
    grid-area: item-6;
}